<div>
    <table class="table" *ngIf="medias?.length">
        <thead>
        </thead>
        <tbody>
        <tr *ngFor="let media of medias; let i = index;">
            <td><strong>{{ media.originalFileName }}</strong></td>
            <td>{{ media.size/1024/1024 | number }}&nbsp;MB</td>
            <td>
                <span *ngIf="!media.id">Uploading...</span>
            </td>
            <td>
                <div class="btn-group">
                    <button type="button" class="btn btn-danger" (click)="deleteMedia(i)">
                        Delete
                    </button>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
    <input [id]="'field_' + name" type="file" accept="image/*" ng2FileSelect [uploader]="uploader" [multiple]="true"/>
</div>
