<!-- prs title wrapper Start -->
<div class="prs_title_main_sec_wrapper">
  <div></div>
  <div class="hs_blog_categories_main_wrapper hs_blog_categories_main_wrapper2" >
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="prs_title_heading_wrapper">
          <h2 style="color: black">Impressum</h2>
          <br>
          <form (ngSubmit)="login()">
            <label>
            SWENGS Project:&nbsp;&nbsp; CINE-FOX
            </label>
            <br>
            <br>
            <label>
              Daten: need to be filled :)
            </label>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- prs title wrapper End -->
<!-- hs sidebar Start -->
