<!-- prs title wrapper Start -->
<!-- prs title wrapper Start -->
<div class="prs_title_main_sec_wrapper">
  <div class="prs_title_img_overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="prs_title_heading_wrapper">
          <h2>Impressum</h2>
          <ul>
            <li><a [routerLink]="'/index'">Home</a>
            </li>
            <li>&nbsp;&nbsp; >&nbsp;&nbsp; Impressum</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="hs_blog_categories_main_wrapper hs_blog_categories_main_wrapper2">
  <div class="container">
    <div class="row">
      <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
        <div class="hs_blog_left_sidebar_main_wrapper">
          <div class="container">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div class="hs_blog_box1_main_wrapper">
                <div class="hs_blog_box1_cont_main_wrapper">
                  <div class="hs_blog_cont_heading_wrapper">
                    <h2>SWENGS PROJECT: &nbsp; CINE-FOX</h2>
                    <p>This is a Project for the SWENGS Course at FH -Joanneum</p><br>
                    <div>
                      <a href="https://www.fh-joanneum.at/">
                    <img  style="height: 120px" _ngcontent-c3="" alt="fh_img" src="assets/images/content/p6.jpg" >
                    </a>
                    <br>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>


