<!-- prs Newsletter Wrapper Start -->
<div class="prs_newsletter_wrapper">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
        <div class="prs_newsletter_text">
          <h3>Submit a Movie !</h3>
        </div>
      </div>
      <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
        <div class="prs_newsletter_field">
          <input type="text" placeholder="Enter a Movie">
          <button type="submit">Submit</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- prs Newsletter Wrapper End -->
<!-- prs footer Wrapper Start -->








<div class="prs_bottom_footer_wrapper">	<a href="javascript:" id="return-to-top"><i class="flaticon-play-button"></i></a>
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-8 col-xs-12">
        <div class="prs_bottom_footer_cont_wrapper">
          <p>Copyright SWENGS 2018 <a onclick="reload_js()" [routerLink]="'/index'">Cine-Fox</a> . All rights reserved - Design by <a href="https://www.fh-joanneum.at/">FH</a> &nbsp;<a [routerLink]="'/impressum'">IMPRESSUM</a>
          </p>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-4 col-xs-12">

      </div>
    </div>
  </div>
</div>
