<div class="prs_title_main_sec_wrapper">
  <div class="prs_title_img_overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="prs_title_heading_wrapper">
          <h2>Registrierung</h2>
          <ul>
            <li><a [routerLink]="'/index'">Home</a>
            </li>
            <li>&nbsp;&nbsp; >&nbsp;&nbsp; Registrierung</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="hs_blog_categories_main_wrapper hs_blog_categories_main_wrapper2">
  <div class="container">
    <div class="row">
      <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
        <div class="hs_blog_left_sidebar_main_wrapper">
          <div class="container">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div class="hs_blog_box1_main_wrapper">
                <div class="hs_blog_box1_cont_main_wrapper">
                  <div class="hs_blog_cont_heading_wrapper">
                    <div class="prs_title_heading_wrapper">
                      <h3 style="color: black" align="center">Registrierung</h3>
                      <br>
                      <form [formGroup]="registryForm" (ngSubmit)="register()">
                        <div align="center">
                          <label for="username"> Username: &nbsp; </label>
                          <label>
                            <input id="username" type="text" name="username" formControlName="username" class="form-control"/>
                          </label>
                          <div *ngIf="registryForm.controls.username.pending">Validating...</div>
                          <div *ngIf="registryForm.controls.username.invalid" class="alert alert-danger">
                            <div>
                              Username is already taken.
                            </div>
                          </div>
                          <br>
                          <br>
                          <label>
                            Password: &nbsp;
                          </label>
                          <label>
                            <input type="password" name="password" formControlName="password" class="form-control"/>
                          </label>
                          <br>
                          <br>
                          <label> Password: &nbsp; </label>
                          <label>
                            <input type="password" name="password2" #password2 class="form-control"/>
                          </label>
                          <div *ngIf="!(registryForm.controls.password.value === password2.value)">Passwords are not matching.</div>
                          <br>
                          <br>
                          <div>
                            <button [disabled]="registryForm.controls.username.invalid || !(registryForm.controls.password.value === password2.value)" type="submit" class="btn btn-secondary btn-lg">
                              Registrieren
                            </button>
                          </div>

                          <br>
                          <br>
                          <br>
                        </div>
                        <br>
                        <br>

                      </form>
                      <br>
                      <br>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>














