<!-- prs title wrapper Start -->
<div class="prs_title_main_sec_wrapper">
  <div class="hs_blog_categories_main_wrapper hs_blog_categories_main_wrapper2" >
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

        <div class="prs_title_heading_wrapper">
          <h3 style="color: black">Registrierung</h3>
          <br>

          <form (ngSubmit)="login()">
            <label>
              Username:
              <input type="text" name="username" [(ngModel)]="user.username"/>
            </label>
            <br>
            <br>
            <label>
              Password:
              <input type="text" name="password" [(ngModel)]="user.password"/>
            </label>
            <br>
            <br>
            <label>
              Password:
              <input type="text" name="password" [(ngModel)]="user.password"/>
            </label>
            <br>
            <br>
            <button type="submit">
              Registrieren
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- prs title wrapper End -->
<!-- hs sidebar Start -->
