<!-- preloader Start -->
<div id="preloader">
  <div id="status">
    <img src="assets/images/header/horoscope.gif" id="preloader_image" alt="loader">
  </div>
</div>

<!-- prs navigation Start -->
<div class="prs_navigation_main_wrapper">
  <div class="container-fluid">
    <div id="search_open" class="gc_search_box">
      <input type="text" placeholder="Search here">
      <button><i class="fa fa-search" aria-hidden="true"></i>
      </button>
    </div>
    <div class="prs_navi_left_main_wrapper">
      <div class="prs_logo_main_wrapper">
        <a href="index.html">
          <img src="assets/images/header/logo.png" alt="logo" />
        </a>
      </div>
      <div class="prs_menu_main_wrapper">
        <nav class="navbar navbar-default">
          <div id="dl-menu" class="xv-menuwrapper responsive-menu">
            <button class="dl-trigger">
              <img src="assets/images/header/bars.png" alt="bar_png">
            </button>
            <div class="prs_mobail_searchbar_wrapper" id="search_button">	<i class="fa fa-search"></i>
            </div>
            <div class="clearfix"></div>
            <ul class="dl-menu">
              <li class="parent organgebox"><a href="about.html">OverView</a>
              </li>
              <li class="parent megamenu organgebox"><a href="#">movie</a>
                <ul class="lg-submenu">
                  <li><a>Popular Hindi Movies</a>
                    <ul class="lg-submenu">
                      <li class="ar_left"><i class="fa fa-film"></i><a href="#">Bajiro Mastani</a>
                      </li>
                      <li class="ar_left"><i class="fa fa-film"></i><a href="#">Drishyam</a>
                      </li>
                      <li class="ar_left"><i class="fa fa-film"></i><a href="#">Queen</a>
                      </li>
                      <li class="ar_left"><i class="fa fa-film"></i><a href="#">Wanted</a>
                      </li>
                      <li class="ar_left"><i class="fa fa-film"></i><a href="#">Veer</a>
                      </li>
                      <li class="ar_left"><i class="fa fa-film"></i><a href="#">Jannat</a>
                      </li>
                      <li class="ar_left"><i class="fa fa-film"></i><a href="#">Baaghi</a>
                      </li>
                      <li class="ar_left"><i class="fa fa-film"></i><a href="#">Baaghi-2</a>
                      </li>
                      <li class="ar_left"><i class="fa fa-film"></i><a href="#">Ki & Ka</a>
                      </li>
                      <li class="ar_left"><i class="fa fa-film"></i><a href="#">Kahaani</a>
                      </li>
                      <li class="ar_left"><i class="fa fa-film"></i><a href="#">Jab We Met</a>
                      </li>
                    </ul>
                  </li>
                  <li><a>Popular Kannada Movies</a>
                    <ul class="lg-submenu">
                      <li class="ar_left"><i class="fa fa-film"></i><a href="#">Zoom</a>
                      </li>
                      <li class="ar_left"><i class="fa fa-film"></i><a href="#">Kirik Party</a>
                      </li>
                      <li class="ar_left"><i class="fa fa-film"></i><a href="#">Mahakali</a>
                      </li>
                      <li class="ar_left"><i class="fa fa-film"></i><a href="#">karvva</a>
                      </li>
                      <li class="ar_left"><i class="fa fa-film"></i><a href="#">Ishtakamya</a>
                      </li>
                      <li class="ar_left"><i class="fa fa-film"></i><a href="#">Jigarthanda</a>
                      </li>
                      <li class="ar_left"><i class="fa fa-film"></i><a href="#">Abhimani</a>
                      </li>
                      <li class="ar_left"><i class="fa fa-film"></i><a href="#">Priyanka</a>
                      </li>
                    </ul>
                  </li>
                  <li><a>Popular Bengali Movies</a>
                    <ul class="lg-submenu">
                      <li class="ar_left"><i class="fa fa-film"></i><a href="#">Baro Bou</a>
                      </li>
                      <li class="ar_left"><i class="fa fa-film"></i><a href="#">Tomake</a>
                      </li>
                      <li class="ar_left"><i class="fa fa-film"></i><a href="#">Jeevan</a>
                      </li>
                      <li class="ar_left"><i class="fa fa-film"></i><a href="#">Haraner </a>
                      </li>
                      <li class="ar_left"><i class="fa fa-film"></i><a href="#">Bidhilipi</a>
                      </li>
                      <li class="ar_left"><i class="fa fa-film"></i><a href="#">Bhalobasa </a>
                      </li>
                      <li class="ar_left"><i class="fa fa-film"></i><a href="#">Prateek</a>
                      </li>
                      <li class="ar_left"><i class="fa fa-film"></i><a href="#">Aparanher</a>
                      </li>
                      <li class="ar_left"><i class="fa fa-film"></i><a href="#">Mukhyamantri</a>
                      </li>
                      <li class="ar_left"><i class="fa fa-film"></i><a href="#">Charmurti</a>
                      </li>
                    </ul>
                  </li>
                  <li><a>Popular Hollywood Movies</a>
                    <ul class="lg-submenu">
                      <li class="ar_left"><i class="fa fa-film"></i><a href="#">Wind River</a>
                      </li>
                      <li class="ar_left"><i class="fa fa-film"></i><a href="#">Logan</a>
                      </li>
                      <li class="ar_left"><i class="fa fa-film"></i><a href="#">Coco</a>
                      </li>
                      <li class="ar_left"><i class="fa fa-film"></i><a href="#">Meyerowitz </a>
                      </li>
                      <li class="ar_left"><i class="fa fa-film"></i><a href="#">Ragnarok</a>
                      </li>
                      <li class="ar_left"><i class="fa fa-film"></i><a href="#">Driver</a>
                      </li>
                      <li class="ar_left"><i class="fa fa-film"></i><a href="#">Dunkirk</a>
                      </li>
                      <li class="ar_left"><i class="fa fa-film"></i><a href="#">Big Sick </a>
                      </li>
                      <li class="ar_left"><i class="fa fa-film"></i><a href="#">American </a>
                      </li>
                      <li class="ar_left"><i class="fa fa-film"></i><a href="#">Logan  </a>
                      </li>
                    </ul>
                  </li>
                  <li>
                    <div class="prs_navi_slider_wraper">
                      <div class="owl-carousel owl-theme">
                        <div class="item">
                          <img src="assets/images/content/up1.jpg" alt="navi_img">
                        </div>
                        <div class="item">
                          <img src="assets/images/content/up2.jpg" alt="navi_img">
                        </div>
                        <div class="item">
                          <img src="assets/images/content/up3.jpg" alt="navi_img">
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
              </li>
              <li class="parent organgebox"><a href="#">tv show</a>
                <ul class="lg-submenu">
                  <li><a href="#">Star Plus</a></li>
                  <li><a href="#">Star Jalsha</a></li>
                  <li><a href="#">Star Gold</a></li>
                  <li><a href="#">Sony TV</a></li>
                  <li><a href="#">Sab TV</a></li>
                  <li><a href="#">Sony Pal</a></li>
                  <li><a href="#">Set Max</a></li>
                </ul>
              </li>
              <li class="parent megamenu organgebox"><a href="#">video</a>
                <ul class="lg-submenu prs_navi_video_wrapper">
                  <li>
                    <div class="prs_video_navi_img_main_wrapper">
                      <img src="assets/images/content/vp1.jpg" alt="video_img">
                      <div class="prs_video_navi_overlay_wrapper">	<a class="test-popup-link button" rel='external' href='https://www.youtube.com/embed/DLzxrzFCyOs' title='title'><i class="flaticon-play-button"></i></a>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="prs_video_navi_img_main_wrapper">
                      <img src="assets/images/content/vp2.jpg" alt="video_img">
                      <div class="prs_video_navi_overlay_wrapper">	<a class="test-popup-link button" rel='external' href='https://www.youtube.com/embed/DLzxrzFCyOs' title='title'><i class="flaticon-play-button"></i></a>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="prs_video_navi_img_main_wrapper">
                      <img src="assets/images/content/vp3.jpg" alt="video_img">
                      <div class="prs_video_navi_overlay_wrapper">	<a class="test-popup-link button" rel='external' href='https://www.youtube.com/embed/DLzxrzFCyOs' title='title'><i class="flaticon-play-button"></i></a>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="prs_video_navi_img_main_wrapper">
                      <img src="assets/images/content/vp4.jpg" alt="video_img">
                      <div class="prs_video_navi_overlay_wrapper">	<a class="test-popup-link button" rel='external' href='https://www.youtube.com/embed/DLzxrzFCyOs' title='title'><i class="flaticon-play-button"></i></a>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="prs_video_navi_img_main_wrapper">
                      <img src="assets/images/content/vp5.jpg" alt="video_img">
                      <div class="prs_video_navi_overlay_wrapper">	<a class="test-popup-link button" rel='external' href='https://www.youtube.com/embed/DLzxrzFCyOs' title='title'><i class="flaticon-play-button"></i></a>
                      </div>
                    </div>
                  </li>
                  <li class="hidden-sm">
                    <div class="prs_video_navi_img_main_wrapper">
                      <img src="assets/images/content/vp6.jpg" alt="video_img">
                      <div class="prs_video_navi_overlay_wrapper">	<a class="test-popup-link button" rel='external' href='https://www.youtube.com/embed/DLzxrzFCyOs' title='title'><i class="flaticon-play-button"></i></a>
                      </div>
                    </div>
                  </li>
                </ul>
              </li>
              <li class="parent organgebox"><a href="#">pages</a>
                <ul class="lg-submenu">
                  <li class="parent"><a href="#">Blog</a>
                    <ul class="lg-submenu">
                      <li><a href="blog_category.html">Blog-Category</a>
                      </li>
                      <li><a href="blog_single.html">Blog-Single</a>
                      </li>
                    </ul>
                  </li>
                  <li class="parent"><a href="#">Event</a>
                    <ul class="lg-submenu">
                      <li><a href="event_category.html">Event-Category</a>
                      </li>
                      <li><a href="profile.html">Event-Single</a>
                      </li>
                    </ul>
                  </li>
                  <li class="parent"><a href="#">Movie</a>
                    <ul class="lg-submenu">
                      <li><a href="movie_category.html">Movie-Category</a>
                      </li>
                      <li><a href="movie_single.html">Movie-Single</a>
                      </li>
                    </ul>
                  </li>
                  <li><a href="gallery.html">Gallery</a>
                  </li>
                </ul>
              </li>
              <li class="parent organgebox"><a href="contact.html">Contact</a>
              </li>
            </ul>
          </div>
          <!-- /dl-menuwrapper -->
        </nav>
      </div>
    </div>
    <div class="prs_navi_right_main_wrapper">
      <div class="prs_slidebar_wrapper">
        <button class="second-nav-toggler" type="button">
          <img src="assets/images/header/bars.png" alt="bar_png">
        </button>
      </div>
      <div class="prs_top_login_btn_wrapper">
        <div class="prs_animate_btn1">
          <ul>
            <li><a href="login" class="button button--tamaya" data-text="sign up"><span>sign up</span></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="product-heading">
        <div class="con">
          <select>
            <option>All Categories</option>
            <option>Movie</option>
            <option>Video</option>
            <option>Music</option>
            <option>TV-Show</option>
          </select>
          <input type="text" placeholder="Search Movie , Video , Music">
          <button type="submit"><i class="flaticon-tool"></i>
          </button>
        </div>
      </div>
    </div>
    <div id="mobile-nav" data-prevent-default="true" data-mouse-events="true">
      <div class="mobail_nav_overlay"></div>
      <div class="mobile-nav-box">
        <div class="mobile-logo">
          <a href="index.html" class="mobile-main-logo">
            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="46.996px" height="40px" viewBox="0 0 46.996 40" enable-background="new 0 0 46.996 40" xml:space="preserve">
<g>
	<g>
		<path  src="assets/images/header/favicon.ico" />
	</g>
</g>
</svg><span>Cine-Fox</span>
          </a>
          <a href="#" class="manu-close"><i class="fa fa-times"></i></a>
        </div>
        <ul class="mobile-list-nav">
          <li><a href="about.html">OVERVIEW</a>
          </li>
          <li><a href="movie_single.html">MOVIE</a>
          </li>
          <li><a href="profile.html">PROFIL</a>
          </li>
          <li><a href="gallery.html">GALLERY</a>
          </li>
          <li><a href="blog_single.html">BLOG</a>
          </li>
          <li><a href="contact.html">CONTACT</a>
          </li>
        </ul>
        <div class="product-heading prs_slidebar_searchbar_wrapper">
          <div class="con">
            <select>
              <option>All Categories</option>
              <option>Movie</option>
              <option>Video</option>
              <option>Music</option>
              <option>TV-Show</option>
            </select>
            <input type="text" placeholder="Search Movie , Video , Music">
            <button type="submit"><i class="flaticon-tool"></i>
            </button>
          </div>
        </div>

        <div class="prs_top_login_btn_wrapper prs_slidebar_searchbar_btn_wrapper">
          <div class="prs_animate_btn1">
            <ul>
              <li><a href="login" class="button button--tamaya" data-text="sign up"><span>sign up</span></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- prs navigation End -->
