<!-- prs title wrapper Start -->
<div class="prs_title_main_sec_wrapper">
  <div class="prs_title_img_overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="prs_title_heading_wrapper">
          <h2>Movie erstellen / bearbeiten</h2>
          <ul>
            <li><a [routerLink]="'/index'">Home</a>
            </li>
            <li>&nbsp;&nbsp; >&nbsp;&nbsp; Movie erstellen / bearbeiten</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- prs title wrapper End -->
<!-- hs sidebar Start -->
<form [formGroup]="movieForm" (ngSubmit)="saveMovie()">
<div class="hs_blog_categories_main_wrapper hs_blog_categories_main_wrapper2">
  <div class="container">
    <div class="row">
      <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
        <div class="hs_blog_left_sidebar_main_wrapper">
          <div class="container">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div class="hs_blog_box1_main_wrapper">
                <div class="hs_blog_box1_img_wrapper">
                  <img [src]="movieBild | safeUrl"
                       class="img-fluid" style="width: 30%; margin-left: auto; margin-right: auto; display:block;">
                </div>
                <div class="hs_blog_box1_cont_main_wrapper">
                  <div class="hs_blog_cont_heading_wrapper">
                    <div class="row">
                      <div class="col">
                        <app-mediainput name="pictures"
                                        formControlName="pictures"></app-mediainput>
                        {{debuug()}}
                      </div>
                    </div>
                    <!--<input [id]="'field_' + name" type="file" ng2FileSelect [uploader]="uploader" [multiple]="true"/>-->
                    <br>
                    <h2>Name</h2>
                    <input id="name" type="text" name="name" formControlName="name" class="form-control"/>
                    <br>
                    <h2>Genre</h2>
                    <!-- Genre Auswahl -->
                    <ngx-select id="genres" [items]="genreOptions" name="genres" [multiple]="true"
                                formControlName="genres" optionTextField="name"></ngx-select>
                    <br>
                    <h2>Hersteller</h2>
                    <!--Hersteller auswahl / eingabe-->
                    <ngx-select id="hersteller" [items]="herstellerOptions" name="hersteller" [multiple]="false"
                                formControlName="hersteller" optionTextField="bezeichnung"></ngx-select>
                    <br>
                    <h2>Kategorie</h2>
                    <!-- Kategorie auswahl-->
                    <ngx-select id="kategorie" [items]="kategorieOptions" name="kategorie" [multiple]="false"
                                formControlName="kategorie" optionTextField="bezeichnung"></ngx-select>
                    <br>
                    <!--<h2>Episoden</h2>-->
                    <!--Episoden-listen eingabe</p><br>-->
                    <!--<input id="episoden" type="text" name="episoden" formControlName="episoden" class="form-control"/>
                    <br> -->
                    <h2>Director</h2>
                    <!--Direktor auswahl-->
                    <ngx-select id="directors" [items]="directorOptions" name="directors" [multiple]="false"
                                formControlName="directors" optionTextField="nachname"></ngx-select>
                    <br>
                    <div *ngIf="movieForm.invalid">Please first fill out the form. <br>
                      All fields are required for saving.</div>
                    <div class="btn-group">
                      <button type="submit" class="btn btn-primary" [disabled]="movieForm.invalid">
                        Save
                      </button>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</form>
